DATABASE_URL=postgres://kaskita:kaskita@localhost:5432/kaskita
DATABASE_MIGRATION_URL=postgres://kaskita:kaskita@localhost:5432/kaskita
TEST_DATABASE_URL=postgres://kaskita:kaskita@localhost:5432/kaskita_test
APP_URL=http://localhost:3000
APP_ENCRYPTION_KEY=
AUTH_SECRET=
ATTACHMENTS_DIR=./data/attachments
TZ=Asia/Jakarta
